* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --color1: rgb(150, 143, 143);
  --color2: rgb(170, 212, 252);
  --color3: rgb(137, 123, 189);
  --highlight1: aqua;
}
/* Hamburger Menu Styling */
h1 {
  font-size: larger;
  border-bottom: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body {
  display: grid;
  margin: 2rem;
}
.hamburger {
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding: 0.5rem;
  border-radius: 30%;
  background-color: var(--color2);
}
.hamburger:hover {
  background-color: var(--highlight1);
}
.dropdown {
  display: flex;
  flex-direction: column;
}
a {
  padding: 1rem;
  background-color: var(--color2);
  text-decoration: none;
}
a:hover {
  background-color: var(--highlight1);
}

/* Carousell Styling */

.image.container > img {
  max-height: 200px;
  max-width: auto;
}
.carousell {
  border: 2px solid --color3;
  border-radius: 15px;
  max-height: 300px;
  max-width: 350px;
  overflow-y: scroll;
}
.image.container {
  max-height: 100%;
  width: fit-content;
  display: flex;
  gap: 1rem;
}
