* {
  margin: 0;
  padding: 0;
}
:root {
  /*   color-scheme: light dark;*/
}
div {
  border: solid 1px white;
}
tr:hover {
  background-color: aquamarine;
}
td {
  padding: 1rem;
}
table {
  background-color: antiquewhite;
  display: grid;
}
.hamburger {
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding: 0.5rem;
  border-radius: 30%;
  background-color: aquamarine;
}
.hamburger:hover {
  background-color: aqua;
}
.dropdown {
  display: flex;
  flex-direction: column;
}
a {
  padding: 1rem;
  background-color: beige;
  text-decoration: none;
}
a:hover {
  background-color: aquamarine;
}
/*
.dropdown > * {
  visibility: collapse;
}
.dropdown:hover > * {
  visibility: visible;
}
*/
